body {
  font-family: "Merriweather", serif;
  font-family: "Oswald", sans-serif;
  font-family: "PT Serif", serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
p {
  font-weight: 500;
}
ul {
  display: flex;
}
section {
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}
li {
  list-style-type: none;
  font-weight: 400;
  margin-left: 20px;
}
.themain {
  display: flex;
  margin-top: 50px;
}
.landing-page {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}
.half-width img {
  width: 80%;
  padding-right: 8%;
}
.bg-img {
  background-image: url(images/Circle\ design.svg);
}
.link-btn {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 40px;
  background-image: linear-gradient(tomato, purple);
  border-radius: 5px;
  font-weight: 400;
}
.icon-img a {
  align-items: center;
  padding-left: 20px;
}
.icons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.featured {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  box-shadow: 5px 10px 8px #888888;
}
.items {
  display: flex;
  justify-content: center;
}
.stars {
  color: goldenrod;
}
.items i {
  font-size: 12px;
}
.rating-nm {
  color: gray;
  font-size: 20px;
}
.grid-container h4 {
  color: gray;
  align-items: baseline;
}
.more-btn {
  text-decoration: none;
  display: flex;
  justify-content: end;
  margin-right: 140px;
  color: salmon;
  margin-top: -20px;
}
.bottom {
  text-align: center;
  background-color: rgb(5, 5, 58);
  color: white;
  padding: 30px;
}
.icon a {
  text-decoration: none;
  justify-content: center;
  margin: 4px;
  font-size: 25px;
}
 /* /
 medi query */
 @media only screen and (max-width:688px) {
    .grid-container{
        width: 100%;

    } 
    .grid-item {

         grid-template-columns: (1, 1fr);
         flex-direction: column;
     }
 }
